@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
li
{
    list-style:none;
}

a{
    text-decoration:none;
}

.fl
{
    float:left;
}

.fr
{
    float:right;
}

.clearFix:after
{
    content:'';
    display:block;
    clear:both;
}

.clearFix
{
    zoom:1;
}

img
{
    vertical-align:top;
}

html {
    font-size: 20px;
    background: #fcfcfc;

}

header {
    height: 7.6rem;
    width: 100%;
    border-top: 0.033rem solid #f2ebf3;
}

header .header-scores {
    width: 100%;
    height: 2.133rem;
    margin-top: 1.3rem;
    position: relative;
}

header .header-scores img {
    width: 2.133rem;
    height: 2.133rem;
    border-radius:50%;
}

.header-scores-logo1eft {
    position: absolute;
    left: 2.944rem;
    top: 0;
}

.header-scores-logoright {
    position: absolute;
    right: 2.944rem;
    top: 0;
}

.header-scores div {
    width: 1.9rem;
    height: 0.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.95rem;
    margin-top: -0.3rem;
    font-size: 0.6rem;
    font-family: "微软雅黑";
}

.header-scores-left {
    color: #e03131;
    position: absolute;
    left: 0;
    top: 0;
}

.header-scores-right {
    color: #41adff;
    position: absolute;
    right: 0;
    top: 0;
}

.header-scores-midele {
    color: #999;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.1rem;
    margin-top: -0.35rem;
    font-size: 0.6rem;
}

header .header-teams {
    width: 100%;
    height: 0.6rem;
    margin-top: 0.45rem;
    position: relative;
    font-size: 0.5rem;
}

header .header-teams .header-teams-left {
    width: 2.133rem;
    height: 100%;
    text-align: center;
    line-height: 0.52rem;
    position: absolute;
    left: 2.944rem;
    top: 0;
}

header .header-teams .header-teams-right {
    width: 2.133rem;
    height: 100%;
    text-align: center;
    line-height: 0.52rem;
    position: absolute;
    right: 2.944rem;
    top: 0;
}

header .header-teams .header-teams-middle {
    width: 5.86rem;
    height: 0.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.93rem;
    margin-top: -0.36rem;
    font-size: 0.4rem;
    color: #9a9a9a;
    text-align: center;
}

.ProgressBar {
    width: 14.7rem;
    height: 0.222rem;
    position: relative;
    margin-left: 0.65rem;
    margin-top: 0.444rem;
}
.ProgressBar-leftbox
{
    width: 7.217rem;
    height:100%;
    position: absolute;
    left:0;
    overflow:hidden;
}
.ProgressBar-rightbox
 {
     width: 7.217rem;
     height:100%;
     position: absolute;
     right:0;
    overflow:hidden;
 }
.ProgressBar-left {
    width: 6.567rem;
    height: 100%;
    background: #e03131;
    float:right;
}

.ProgressBar-right {
    width: 6.567rem;
    height: 100%;
    background: #41adff;
    float:left;
}

.ProgressBar-tag {
    width: 0.266rem;
    height: 100%;
    position: absolute;
    left: 7.217rem;
}

.ProgressBar-tag img {
    width: 100%;
    height: 100%;
}

.supporters {
    width: 14.7rem;
    height: 1.068rem;
    position: relative;
    margin-left: 0.65rem;
    margin-top: 0.444rem;
}

.supporters img {
    width: 1.068rem;
    height: 1.068rem;
    position: absolute;
    top: 0;
}

.supporters-leftlogo {
    left: 0;
}

.supporters-rightlogo {
    right: 0;
}

.supporters-leftNumber {
    width: 2.6rem;
    height: 0.4rem;
    position: absolute;
    top: 50%;
    margin-top:-0.2rem;
    left:1.3rem;
    font-size:0.4rem;
    color:#e03030;
    text-align:left;
}
.supporters-rightNumber {
    width: 2.6rem;
    height: 0.4rem;
    position: absolute;
    top: 50%;
    margin-top:-0.2rem;
    right:1.3rem;
    font-size:0.4rem;
    color:#41adff;
    text-align:right;
}
.supporters-gameintro
{
    width:6rem;
    height:0.45rem;
    font-size:0.45rem;
    text-align:center;
    color:#999;
    position:absolute;
    left:50%;
    top:0.333rem;
    margin-left:-3rem;
}
.header-bottomline
{
    width:100%;
    height:0.3rem;
    border-top:0.02rem solid #e1e1e1;
    border-bottom:0.02rem solid #e1e1e1;
    background:#eee;
    margin-top:0.6rem;
}
.live-byword
{
    width: 100%;
}
.live-byword h2
{
    font-size:0.7rem;
    color:#e03131;
    height:2.1rem;
    line-height:2.1rem;
    padding-left:0.65rem;
    border-bottom:0.02rem solid #e1e1e1;
}
.live-byword-listbox
{
    width:100%;
    left:0;
    top:2.12rem;
    overflow:hidden;
}
.live-byword-listbox ul
{
    width:100%;
    overflow-y: scroll; height: 16rem;
}

.live-byword-listbox ul li
{
    width:100%;
    padding:0.65rem 0 0.65rem 0;
    border-bottom:0.02rem solid #e1e1e1;
}

.live-byword-list
{
    width:100%;
    height:1.62rem;
    padding-left:0.65rem;
}

.live-byword-list img
{
    height:1.62rem;
    width:1.62rem;
}

.live-byword-list-games
{
    height:1.62rem;
    margin-left:0.58rem;
}
.live-byword-list-name
{
    font-size: 0.58rem;
    color: #e03131;
    height: 0.68rem;
    margin-top:0.1rem;
}
.live-byword-list-time
{
    font-size:0.42rem;
    color:#999;
    height:0.58rem;
    line-height:0.58rem;
    margin-top:0.2rem;
}
.live-byword-list-count
{
    font-size:0.48rem;
    color:#999;
    height:0.48rem;
    margin-top:0.15rem;
    display:inline-block;
}

.live-byword-list-words
{
    padding:0 0.65rem;
}
.live-byword-listimg
{
    float:left;
}

.live-byword-list-words-images
{
    overflow:hidden;
}
.live-byword-list-words-images img
{
    margin-right:0.28rem;
}
.live-byword-list-words p
{
    font-size:0.58rem;
    color:#444;
    line-height:0.84rem;
    margin-top:0.58rem;
    margin-bottom:0.58rem;
}

.live-byword-list-words img
{
    width:4.62rem;
    height:2.74rem;
}
.live-byword-list-words-img2
{
    margin-left:0.22rem;
}


.header-bottomline2
{
    width:100%;
    height:0.3rem;
    border-top:0.02rem solid #e1e1e1;
    border-bottom:0.02rem solid #e1e1e1;
    background:#eee;
}

.gamelist
{
    width: 100%;
    overflow-y: scroll;
    height: 16rem;
}
.gamelist h2
{
    font-size:0.7rem;
    color:#e03131;
    height:2.1rem;
    line-height:2.1rem;
    padding-left:0.65rem;
}
.gamelist ul
{
    width:100%;
}
.gamelist ul li
{
    height:3.2rem;
    border-top:0.02rem solid #e1e1e1;
    padding:0.65rem;
    position: relative;
}
.gamelist ul li img
{
    width:4.26rem;
    height:100%;
    margin-right:0.5rem;
}
.gamelist-into
{
    width:9.52rem;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
}
.gamelist-into-title
{
    font-size:0.6rem;
    color:#444;
}
.gamelist-into-text
{
    font-size:0.48rem;
    color:#9a9a9a;
    line-height:0.7rem;
}

.gamelist ul li a
{
    color:#3e9eda;
    font-size:0.4rem;
    height:0.7rem;
    width:1.6rem;
    border:0.02rem solid #3e9eda;
    border-radius:0.06rem;
    text-align: center;
    line-height:0.74rem;
    position:absolute;
    right:0.65rem;
    bottom:1rem;
}
.gamelist ul li span
{
    color:#b6b6b6;
    font-size:0.4rem;
    height:0.7rem;
    width:2.4rem;
    border:0.02rem solid #b6b6b6;
    border-radius:0.06rem;
    text-align: center;
    line-height:0.74rem;
    position:absolute;
    right:2.51rem;
    bottom:1rem;
}
.gamevedio
{
    width: 100%;
    height:12.36rem;
    position:relative;
}

.gamevedio h2
{
    font-size:0.7rem;
    color:#e03131;
    height:2.3rem;
    line-height:2.3rem;
    padding-left:0.65rem;
}
.gamevedio img
{
    width:14.6rem;
    height:8.2rem;
    position:absolute;
    left:0.65rem;
    top:2.4rem;
}
.gamevedio p
{
    font-size:0.6rem;
    color:#444;
    position:absolute;
    left:0.65rem;
    top:11rem;
    text-align:center;
    width:14.6rem;
}


.gamenews
{
    width: 100%;
    overflow-y: scroll;
    height: 16rem;
}
.gamenews h2
{
    font-size:0.7rem;
    color:#e03131;
    height:2.1rem;
    line-height:2.1rem;
    padding-left:0.65rem;
}
.gamenews ul
{
    width:100%;
}
.gamenews ul li
{
    width:14.3rem;
    height:3.2rem;
    border-top:0.02rem solid #e1e1e1;
    padding:0.65rem;
    position: relative;
}
.gamenews ul li img
{
    width:4.26rem;
    height:100%;
    margin-right:0.5rem;
}
.gamenews-into
{
    width:9.52rem;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
}
.gamenews-into-title
{
    font-size:0.6rem;
    color:#444;
}
.gamenews-into-text
{
    font-size:0.48rem;
    color:#9a9a9a;
    line-height:0.7rem;
}

.gamenews ul li span
{
    color:#b6b6b6;
    font-size:0.4rem;
    height:0.8rem;
    width:2.5rem;
    border:0.02rem solid #b6b6b6;
    border-radius:0.06rem;
    text-align: center;
    line-height:0.84rem;
    position:absolute;
    right:0.65rem;
    bottom:1rem;
}

.game-data
{
    width:100%;
}

.game-data h2
{
    font-size:0.7rem;
    color:#e03131;
    height:2.1rem;
    line-height:2.1rem;
    padding-left:0.65rem;
}

#roundlist
{
    font-size:0.6rem;
    text-align:center;
}


.roundspan3
{
    display:inline-block;
    margin:0 0.2rem;
    height:1.3rem;
    width:4.5rem;
    border:0.02rem solid #dfdfdf;
    background:#fcfcfc;
    color:#989898;
    line-height:1.3rem;
}
.roundspan5
 {
     display:inline-block;
     margin:0 0.2rem;
     height:1.3rem;
     width:2.5rem;
     border:0.02rem solid #dfdfdf;
     background:#fcfcfc;
     color:#989898;
     line-height:1.3rem;
 }

.on
{
    background:#eee;
    color:#454545;
}

.data-details
{
    width:100%;
}



.gamedata-teams {
    width: 100%;
    height: 2.133rem;
    margin-top: 1.3rem;
    position: relative;
}

.gamedata-teams img {
    width: 2.133rem;
    height: 2.133rem;
    border-radius:50%;
}

.gamedata-teams-logo1eft {
    position: absolute;
    left: 2.944rem;
    top: 0;
}

.gamedata-teams-logoright {
    position: absolute;
    right: 2.944rem;
    top: 0;
}

.gamedata-teams-duration
{
    font-size:0.55rem;
    height:100%;
    line-height:2.133rem;
    color:#9a9a9a;
    text-align:center;
}


.gamedata-select
{
    width: 100%;
    height: 1rem;
    margin-top: 0.65rem;
    position: relative;
    border-radius:50%;
}

.gamedata-select div
{
    position: relative;
    width:7rem;
}

.gamedata-select img {
    width: 1rem;
    height: 1rem;
}

.gamedata-select-logo1eft {
    float:right;
    margin-left:0.1rem;
}

.gamedata-select-logoright {
    float:left;
    margin-right:0.1rem;
}

.gamedata-select-word
{
    font-size:0.55rem;
    height:100%;
    width:1.6rem;
    line-height:1rem;
    color:#9a9a9a;
    text-align:center;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-0.8rem;
    margin-top:-0.5rem;
}

.conpares
{
    width:100%;
    height:1.25rem;
    position:relative;
}
.compares-money
{
    width:2rem;
    height:0.5rem;
    text-align:center;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-1rem;
    font-size:0.5rem;
    color:#999;
}
.conpares h2
{
    width:100%;
    font-size:0.55rem;
    height:0.55rem;
    text-align:center;
    color:#9a9a9a;

}

.compares-bardetails
{
    position:absolute;
    bottom:0;
    width:100%;
    height:0.7rem;
    margin-top:0.65rem;
}



.compares-barleft
{
    width:1rem;
    height:0.222rem;
    background:#e03131;
    position:absolute;
    right:8.133rem;
}
.compares-barright
{
    width:1rem;
    height:0.222rem;
    background:#41adff;
    position:absolute;
    left:8.133rem;
}

.compares-barmiddle
{
    width: 0.266rem;
    height: 0.222rem;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-0.133rem;
}

.compares-barmiddle img
{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}


.compares-bardetails-leftnum
{
    position:absolute;
    left:-1.5rem;
    margin-top:-0.1rem;
    font-size:0.55rem;
    color:#e03131;
}

.compares-bardetails-rightnum
{
    position:absolute;
    right:-1.5rem;
    margin-top:-0.1rem;
    font-size:0.55rem;
    color:#41adff;
}

.header-bottomline3
{
    width:100%;
    height:1rem;
    border-top:0.02rem solid #e1e1e1;
    border-bottom:0.02rem solid #e1e1e1;
    background:#eee;
    margin-top:0.6rem;

}












