/**
 * Desc: 全局css样式
 * User: liangqi
 * Date: 16/5/5
 * Time: 下午7:01
 */
html {
    color: #000;
    background: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}

legend {
    color: #000;
}

a {
    text-decoration: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="search"] {
    -webkit-appearance: textfield;
    outline: none;
    border: none;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body {
    font: 14px/1.6 "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    color: #333;
    background: #eee;
}

.clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: ''
}

.clearfix {
    zoom: 1
}

a {
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.flat-content img {
    max-width: 100%;
    margin: 0 0 .8rem;
}

.flat-content p {
    margin-bottom: .8rem;
    font-size: 1rem;
    text-align: justify;
}

.flat-content .cimg{
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

img {
    vertical-align: top;
}

/**
 header
 ------------*/

header {
    background: #fff;
}

header .title {
    font-size: 1.2rem;
    color: #000;
    margin-top: 0.8rem;
    padding: 0 0.8rem;
    text-align: left;
    font-weight: normal;
    line-height: 1.4;
}

.video-meta,.meta {
    color: #999;
    font-size: 1rem;
}

.video-meta .date, .meta .date {
    margin-right: .5rem;
}

.meta{
    padding: .8rem;
}


/* 相关推荐模块 */
.news{
    display: none;
}
.list {
    background: #fff;
    margin-top: .4rem;
}

.list h3 {
    color: #e03131;
    padding: .65rem .8rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    border-bottom: 1px solid #ddd;
}

.list li {
    border-top: 1px solid #e1e1e1;
    padding: 0.8rem 0;
    position: relative;
    margin: 0 .8rem;
}

.list li:first-child {
    border-top: none;
}

.list li a {
    display: block;
}

.list li img {
    width: 6rem;
    height: 4.5rem;
    margin-right: .5rem;
    float: left;
}

.list-into {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    float: left;
}

.list-title {
    display: inline-block;
    overflow:hidden;
    /*white-space:nowrap;*/
    white-space: pre-wrap;
    text-overflow: ellipsis;
    min-height: 3.13rem;
    font-size: 1rem;
    color: #444;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    word-break: break-all;
}

.list-excerpt {
    font-size: 0.8rem;
    color: #9a9a9a;
    line-height: 1rem;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.list-tag {
    color: #b6b6b6;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    text-align: center;
    padding: .15em .3rem .1rem;
    font-size: 0.5rem;
    line-height: 1;
}

.list-time {
    color: #9a9a9a;
    font-size: .65rem;
    line-height: 1;
    position: absolute;
    right: 0.8rem;
    bottom: .8rem;
}
.line{
    height: .8rem;
}