
/*.container .left .details {*/
    /*padding: .8rem;*/
/*}*/
html{
    font-size: 20px;
}
.video-excerpt{
    display: table;
    width: 100%;
}

.video-excerpt-tip{
    display: table;
}

.video-excerpt p {
    display: table-cell;
    overflow: hidden;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.f-blue, a.f-blue {
    color: #0c82fb;
}

.indent p.cimg {
    padding-left: 0!important;
    padding-right: 0!important;
}





