/**
 * Desc: 视频详情页样式
 * User: liangqi
 * Date: 16/5/5
 * Time: 下午7:04
 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFix:after {
    content: '';
    display: block;
    clear: both;
}

.clearFix {
    zoom: 1;
}

img {
    vertical-align: top;
}

body {
    background: #eee;
    overflow-x: hidden;
}

.content {
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}

.video-header {
    margin-bottom: .4rem;
    background: #fff;
    padding: .8rem;
}

.content h1 {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.2;
}

.video-meta {
    font-size: .85rem;
}

.video-meta .views {
    right: 0.8rem;
    text-align: right;
    float: right;
}
/**********ios7/8的视频详情页分享上方图片的遗留问题开始************/
.video-excerpt{
    display: table;
}
.video-excerpt-tip{
    display: table;
}
.video-excerpt p {
    display: table-cell;
    overflow: hidden;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}
/**********ios7/8的视频详情页分享上方图片的遗留问题结束************/
.excerpt {
    margin-top: .8rem;
    color: #999;
}

header{
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 9999;
}

header .player iframe {
    width: 100%;
    display: block;
}

header .player {
    position: relative;
    height: 100%;
}

header .player img {
    width: 100%;
    max-height: 90%;
    display: block;
}

.video-button {
    position: absolute;
    background: transparent;
    right: 0;
    width: 50px;
    height: 40px;
    border: none;
    text-indent: -8888rem;
    overflow: hidden;
    z-index: 999;
    bottom: 0;
    outline: none;
}

.replace-button {
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
    top: 40%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6) url('../images/play_icon.png') no-repeat center center;
    background-size: 80%;
}

/**********问题开始**************/
.video-question {
    margin-top: .5rem;
    color: #333333;
    font-size: .9rem;
    background-color: #ffffff;
    margin-bottom: .5rem;
}

.video-question ul {
    padding: 0 1rem;
}

.video-question p {
    padding: 0.65rem .8rem;
}

.video-question-title {
    height: auto;
    display: block;
    border-bottom: 1px solid #efefef;
    color: #666;
}

.video-question-option {
    margin: 0 0.8rem;
    border-bottom: 1px solid #efefef;
    display: block;
    line-height: 3rem;
    position: relative;
    color: #666;
}

.video-question .video-question-option:last-child{
    border: none !important;
}

.video-question-option .progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1;
}

.video-question-option span {
    margin-right: 1rem;
}
.video-question-option span.selected{
    color: #e03030;
    margin-right: 0;
}

.play-num {
    background: url("../images/play_num.png");
    display: inline-block;
    vertical-align: middle;
    width: .85rem;
    background-size: 100% auto;
    height: .85rem;
    float: none;
    margin-right: .3rem;
    margin-top: -3px;
}

/**********答案开始**************/
.video-question-answer {
    margin-top: 1rem;
    color: #333333;
    font-size: .9rem;
    background-color: #ffffff;
}

.video-question-answer .video-answer {
    padding: 0 1rem;
}

.video-question-answer p {
    padding: 0.4rem 1rem;
}

.video-answer-title {
    height: auto;
    padding: 0.4rem 0;
    border-bottom: 1px solid #efefef;
}

.video-answer-option {
    padding-top: 0.2rem;
    padding-left: 0.5rem;
}

.option-detail {
    display: flex;
    padding-left: 0.1rem;
    border-bottom: 1px solid #efefef;
}

.color-a, .color-b, .color-c, .color-d {
    height: 100%;
    margin-right: 0.1rem;
}

.progress {
    display: inline-block;
    line-height: 1;
}

.color-a {
    width: .5rem;
    background-color: #e03030;
}

.color-b {
    width: .5rem;
    background-color: #e54f88;
}

.color-c {
    width: .5rem;
    background-color: #5875be;
}

.color-d {
    width: 0.5rem;
    background-color: #6fcace;
}

.video-answer-option span {
    margin-right: 2rem;
}

.option-num {
    font-size: .9rem;
}

.progress-bar {
    height: .7rem;
}
