html{
    font-size: 20px;
}

.hot-reviews{
    background-color: #ffffff;
}
.reviews-box {
    display: flex;
    margin: 0 0.8rem;
}

.reviews-header {
    padding: 0.6rem 0.3rem 0 0;
    flex: 1;
}

.reviews-header img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.reviews-title {
    padding: 0.6rem;
    border-bottom: 0.5px solid #d8d8d8;
}

.reviews-title span {
    color: #ff0000;
    font-size: 0.8rem;
}

.reviews-right {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    flex: 9;
}

.reviews-name, .reviews-time, .reviews-content {
    word-wrap: break-word;
    word-break:break-all;
}

.reviews-name, .reviews-content {
    font-size: 0.8rem;
}
.reviews-content{
    color: #333333;
    padding-bottom: 0.5rem;
}
.reviews-name {
    color: #5896D4;;
}

.reviews-time {
    font-size: 0.5rem;
    color: #999999;
    padding-bottom: 0.1rem;
}

.reviews-box-last {
    display: flex;
    margin: 0 0.8rem;
}
.show-all-reviews{
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    border-left: 2px solid #f0f0f1;
}
.show-all-reviews p,.get_more-review p{
    color: #5896d4;
    font-size: 0.75rem;
}
.reviews-children{
    border-left: 2px solid #f0f0f1;
    padding-left: 0.5rem;
    margin-bottom:  1rem;
}
.reviews-children .child-title{
    color: #999999;
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
}
.reviews-children .child-content{
    font-size: 0.75rem;
    color: #666666;
    word-wrap: break-word;
    word-break: break-all;
}
.nickname-right{
    float: right;
}
.reviews-zan{
    text-align: center;
    color: #999999;
    font-size: 0.8rem;
}
.reviews-zan span{
    vertical-align: middle;
}
.reviews-replay{
    margin-left: 1rem;
}
.reviewed{
    color: #efd200;
}
.nickname-right img{
    height: 0.75rem;
    vertical-align: middle;
}
.reviews-replay img{
    height: 0.65rem;
}
.get_more-review{
    display: block;
    text-align: center;
    border-top: 0.5px solid #f3f3f3;
    padding: 0.5rem 0;
    background-color: #ffffff;
}
.ti h4{
    margin-bottom: 1.25rem;
    margin-top: 0.25rem;
    color: #333333;
    font-family: PingFangSC-Medium, sans-serif;
    font-weight: 600;
}