.banner {
    min-height: 8rem;
}
.container {
    position: relative;
    overflow: hidden;
}

.wrap {
    margin: 0 auto;
    clear: both;
}

.wrap {
    width: 100%;
}

.container .wrap {
    position: relative;
}

.container .left {
    width: auto;
    float: none;
}
h1 {
    position: relative;
    overflow: hidden;
    color: #333;
    padding: 1.5rem 2.25rem 0;
    font-size: 1.25rem;
    text-align: center;
    font-family: PingFangSC-Medium, sans-serif;
    font-weight: 600;
    line-height: 1.1;
}
.leaderCon {
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
    color: #666666;
    font-size: 0.85rem;
    border-left: 4px solid #dadada;
    margin-left: 0.75rem;
    text-indent: 1.5em;
    text-align: justify;
    position: relative;
}
.detailsCon h2 {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    font-family: PingFangSC-Medium, sans-serif;
    margin-bottom: 1.25rem;
}
.detailsTit {
    position: relative;
    overflow: hidden;
    padding: 1rem 0.75rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.detailsTit .pic {
    width: 2rem;
    height: 2rem;
    border: 1px solid #b5b5b5;
    border-radius: 50%;
    margin-bottom:  0.5rem;
    float: left;
}

.container .left img {
    max-width: 100%;
}
.detailsTit .ti {
    line-height: 1.1rem;
    padding: 0;
    font-size: 0.9rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    color: #999999;
    overflow: hidden;
}
.detailsTit .art-time i {
    margin-top: 0;
}

.detailsTit .art-time i {
    width: 13px;
    height: 13px;
    margin-top: 4px;
    vertical-align: top;
    margin-right: 5px;
    background: url(http://www.15w.com/ui/www/v1/img/ui.png) no-repeat;
    display: inline-block;
    background-position: -61px -47px;
}
.art-time {
    color: #999;
}
.leaderCon :before{
    content: "“";
    color: #666666;
    font-size: 1.8rem;
    position: absolute;
    left: -1.2rem;
    top: -0.6rem;
}
.themeBlue .leaderCon span {
    background: #0c82fb;
}

/*.leaderCon span {*/
/*float: left;*/
/*display: inline-block;*/
/*color: #fff;*/
/*margin-right: 8px;*/
/*vertical-align: top;*/
/*border-radius: 3px;*/
/*padding: 0 6px;*/
/*font-size: .8rem;*/
/*background: #0c82fb;*/
/*}*/

.detailsCon {
    position: relative;
    overflow: hidden;
}
.detailsCon p{
    padding: 0 0.75rem;
}

h2 {
    position: relative;
    overflow: hidden;
    color: #212020;
    font-weight: normal;
}
.container {
    background: #fff;
}
.detailsTit .pic img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.detailsTit p span {
    margin-right: 0.5rem;
    font-size: 0.85rem;
}

.container .left p {
    margin-top: 0.8rem;
    font-size: 1rem;
    line-height: 1.3rem;
}
.indent p.cimg-desc{
    text-align: center;
    color: #999999;
    padding-bottom: 1.25rem;
    margin-top: -0.5rem;
    font-size: 0.75rem;
}
.container .left .detailsTit p {
    margin-top: 0;
    overflow: hidden;
    padding-left: 0.25rem;
    padding-top: 0.25rem;
}
.indent .pic{
    text-align: center;
    margin: 1.5rem 0;
}

.indent .pic img:nth-child(2),.flat-content p img:nth-child(2) {
    padding-top: 1rem;
}

.indent .pic img:nth-child(3),.flat-content p img:nth-child(3) {
    padding-top: 1rem;
}

.indent .pic img:nth-child(4),.flat-content p img:nth-child(4) {
    padding-top: 1rem;
}
.indent .pic img:nth-child(5),.flat-content p img:nth-child(5) {
    padding-top: 1rem;
}

.detailsCon h2 i {
    display: inline-block;
    margin-right: 0.5rem;
    width: 0.15rem;
}

.pic p {
    text-align: center;
}

.container .left p {
    margin-top: 0.8rem;
    color: #333333;
    font-size: 0.85rem;
    text-align: justify;
}

.container .left img {
    max-width: 100%;
}
iframe{
    width: 100%;
}
