/**
 * Desc: 视频详情页样式
 * User: liangqi
 * Date: 16/5/5
 * Time: 下午7:04
 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFix:after {
    content: '';
    display: block;
    clear: both;
}

.clearFix {
    zoom: 1;
}

img {
    vertical-align: top;
}

body {
    background: #eee;
    overflow-x: hidden;
}

.video-meta .views {
    position: absolute;
    right: 0.8rem;
    text-align: right;
}

.video-excerpt p {
    overflow: hidden;
    font-size: 1rem;
}

header .player iframe {
    width: 100%;
    min-height: 10rem;
    display: block;
}

header .player {
    margin-top: .5rem;
}

header .player img {
    width: 100%;
    display: block;
}

.video-excerpt {
    padding: .8rem;
    color: #666;
}
.maintext-share {
    color: #999;
    position: relative;
    font-size: .85rem;
    text-align: center;
    padding-bottom: 1rem;
    background: #fff;
}

.maintext-share img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: .5rem;
}

.sharename {
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    color: #666;
}

.maintext-share-weixin, .maintext-share-weibo, .maintext-share-frident {
    width: 5.5rem;
    display: inline-block;
}

