section {
    background-color: #ffffff;
}

.reviews-box {
    display: flex;
<<<<<<< HEAD
    border-bottom: 0.5px solid #d8d8d8;
    margin: 0 0.8rem;
=======
    border-bottom: 0.5px solid #efefef;
    margin: 0 0.8rem .5rem;
>>>>>>> d1a6719e88e81847ec9fe8e76da942d80e597225
}

.reviews-header {
    padding: 0.6rem 0;
    flex: 1;
}

.reviews-header img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.reviews-title {
    padding: 0.6rem;
<<<<<<< HEAD
    border-bottom: 0.5px solid #d8d8d8;
=======
    border-bottom: 0.5px solid #efefef;
>>>>>>> d1a6719e88e81847ec9fe8e76da942d80e597225
}

.reviews-title span {
    color: #ff0000;
    font-size: 0.8rem;
}

.reviews-right {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    flex: 9;
}

.reviews-name, .reviews-time, .reviews-content {
    padding: 0.1rem;
}

.reviews-name, .reviews-content {
    font-size: 0.8rem;
}

.reviews-name {
    color: #41adff;
}

.reviews-time {
    font-size: 0.6rem;
    color: #9c9c9c;
}

.reviews-box-last {
    display: flex;
    margin: 0 0.8rem;
}