
.flat-content p {
    font-size: 0.85rem;
    color: #333333;
    padding: 0 0.75rem 1.5rem;
    text-align: justify;
    word-break: break-all;
}

.flat-content p img{
    max-width: 100%;
}

.flat-content p.ti, h4{
    font-size: 1rem;
    text-indent: 0;
    font-weight: 600;
    font-family: PingFangSC-Medium, sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 1.25rem;
    border-left: none;
    margin-bottom: 0;
    line-height: 1;
}
.flat-content p.cimg-desc{
    text-align: center;
    color: #999999;
    padding-bottom: 1.25rem;
    margin-top: -1rem;
    font-size: 0.75rem;
}
.flat-content p.cimg{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.flat-content p.cimg img:nth-child(2){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(3){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(4){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(5){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(6){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(7){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(8){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(9){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(10){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(11){
    margin-top: 1rem;
}
.flat-content p.cimg img:nth-child(12){
    margin-top: 1rem;
}
h2,h3,h5,h6,section,ul,ol,dl{
    padding:0 0.75rem !important;
}