.popular-bg{
    background-image: url('../images/bg-player.png.png') ;
    background-size: 100%;
}
.mask{
    background-color: rgba(0,0,0,0.75);
}
.sale-describe{
    padding-top: 2rem;
    /*display: table;*/
    display: flex;
}
.sale-describe p,.sale-time-describe{
    color: rgba(255,255,255,0.9);
    font-size: 0.8rem;
    font-family: pingfang;
}
.sale-time-describe{
    padding: 0 0.4rem;
    color: rgba(247,223,53,0.9);
}
.sale-left{
    /*display: table-cell;*/
    flex: 1;
    padding: 0 1.2rem 0 0.5rem;
}
.sale-right{
    /*display: table-cell;*/
    /*flex: 1;*/
    /*position: absolute;*/
    /*right: 0;*/
    padding-right: 0.5rem;
}
.popular-box{
    width: 33.3333333%;
    float: left;
}
.most-popular-players{
    height: 8.5rem;
    padding-top: 3rem;
}
.popular-box span{
    text-align: center;
    display: block;
    font-size: 0.7rem;
    color: #c8c8c8;
    font-family: pingfang;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.player-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin: 0 auto 0.5rem;
}
.player-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.player-img-first{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    border: 3px solid #ffffff;
    /*margin: 0 2.4rem 0.5rem 2.4rem;*/
    margin: 0 auto 0.5rem;
}
.player-img-first img{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}
.player-sec-icon img{
    display: block;
    margin: 0 auto;
    width: 1.5rem;
    padding-bottom: 0.3rem;
}
.first{
    margin-top: -1.2rem;
}
.popular-box-skip,.popular-skip{
    display: block;
}
.popular-players{
    background-color: #ffffff;
    margin-top: 0.5rem;
}
.popular-players-list{
    /*display: table;*/
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #f3f3f3;
}

.rank{
    /*display: table-cell;*/
    flex: 1;
    padding: 0.4rem 0 0.4rem 0;
}
.rank span,.rank-head img,.player-pact span,.grades span{
    display: inline-block;
    vertical-align: middle;
    font-family: pingfang;
}
.rank span{
    color: #666666;
    font-family: pingfang;
    font-size: 1.2rem;
}
.rank-head{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /*display: table-cell;*/
    flex: 1.5;
    margin: 0 -0.5rem;
}
.rank-head img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.players-list-pact{
    color: #333;
    /*display: table-cell;*/
    flex: 3;
    padding: 0.7rem 0;
    font-size: 1rem;
    font-family: pingfang;
}
.players-list-pact span{
    display: block;
    width: 66%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.grades{
    /*display: table-cell;*/
    flex: 1;
    position: absolute;
    right: 1rem;
    padding: 0.7rem 0;
}
.grades span{
    font-size: 1rem;
    color: #333333;
}
