.excerpt-share {
    margin-top: .5rem;
    background-color: #fff;
}

.video-excerpt {
    color: #666;
}

.video-excerpt-tip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem .5rem 0;
    border-bottom: 1px solid #efefef;
    background: #fff;
}

.video-excerpt-tip img {
    width: 80px;
    height: 80px;
    background: #fff;
    margin-right: .5rem;
}

.maintext-share {
    flex-direction: row;
    text-align: center;
    align-items: center;
    color: #999;
    font-size: .85rem;
    padding: 1.4rem 0.5rem 1.2rem;
    background: #fff;
    display: flex;
}

.maintext-share a {
    margin-right: .8rem;
    flex: 1;
}

.maintext-share a:last-child {
    margin-right: 0;
}

.maintext-share a img {
    width: 45px;
    height: 45px;
    margin-bottom: .5rem;
}

.sharename {
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    color: #666;
}

.maintext-share-weixin, .maintext-share-weibo, .maintext-share-frident, .maintext-share-qq-space, .maintext-share-qq {
    width: 50px;
    display: inline-block;
}