html{
    font-size: 20px;
}
.excerpt-share {
    margin-top: .5rem;
    background-color: #fff;
}

.video-excerpt {
    color: #666;
}

.video-excerpt-tip {
    display: table;
    justify-content: center;
    align-items: center;
    padding: 1.5rem .5rem 0;
    border-bottom: 1px solid #efefef;
    background: #fff;
}

.video-excerpt-tip img {
    width: 80px;
    height: 80px;
    background: #fff;
    margin-right: .5rem;
    display: table-cell;
}
.share-short-issue{
    display: flex;
    padding: 2.25rem 1.25rem 0.6rem;
    background-color: #ffffff;
    text-align: center;
}
.share-short-issue p:nth-child(1),.share-short-issue p:nth-child(3){
    background-color: #ffffff;
    height:1px;
    width: 4rem;
    text-align: center;
    vertical-align: middle;
    margin: 0.6rem 0;
    flex: 1;
}
.share-short-issue p:nth-child(2){
    color: #333333;
    font-size: 0.8rem;
    margin: 0 1rem;
}

.share-short-issue p{
    color: #333333;
    font-size: 0.8rem;
    margin: 0 1rem;
}


@media (-webkit-min-device-pixel-ratio: 2) {
    .share-short-issue { border:none;position:relative;}
    .share-short-issue p:nth-child(1):after , .share-short-issue p:nth-child(3):after{
        content: ''; position: absolute; bottom:1.25rem;
        width:25%; height:1px;
        background: #dadada;
        -webkit-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
    .share-short-issue p:nth-child(1):after{
        left:1rem;
        margin-right: 1rem;
    }
    .share-short-issue p:nth-child(3):after{
        right:1rem;
        margin-left: 1rem;
    }
}


.maintext-share {
    flex-direction: row;
    text-align: center;
    align-items: center;
    color: #999;
    font-size: .85rem;
    padding: 1.4rem 0.5rem 2.2rem;
    background: #fff;
    display: flex;
}

.maintext-share a {
    margin-right: .8rem;
    flex: 1;
}

.maintext-share a:last-child {
    margin-right: 0;
}

.maintext-share a img {
    width: 45px;
    height: 45px;
    margin-bottom: .5rem;
}

/*.sharename {*/
    /*height: 1rem;*/
    /*text-align: center;*/
    /*line-height: 1rem;*/
    /*color: #666;*/
/*}*/

.maintext-share-weixin, .maintext-share-weibo, .maintext-share-frident, .maintext-share-qq-space, .maintext-share-qq {
    width: 50px;
    display: inline-block;
}